.post-form{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.post-container{
  width: 700px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 30px;
  margin: 60px 0;
}
.post-container ::placeholder{
  color: gray;
}
form{
  width: 100%;
}
.form-change-group label{
  color: black;
}
.form-change-group{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  color: white;
}
.form-change-group textarea{
  border: 1px solid black;
  color: black;
}
.register-change-white-btn{
  border: 1px solid black;
  color:black;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: white;
}

.post-title{
  margin-top: 20px;
}
h3{
  font-size: 30px;
}
.post-title-form{
  width: 70%;
  padding: 5px 0 ;
  margin-bottom: 10px;
}
.post-image-form{
  height: 40px;
}
.post-text-form{
  width: 70%;
  height: 150px;
}
.post-select-box{
  width: 70%;
  height: 40px;
  margin-bottom: 10px;
}
.post-white-btn{
  width: 70%;
  height: 40px;
}
.preview{
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.img-preview{
  height: 100px;
  width: 100px;
}
.image-element{
  width: 150px;
  margin-right: 10px;
}
.image-element input{
  width: 130px;
}

