.post-form{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.post-container{
  width: 700px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 30px;
  margin: 60px 0;
}
form{
  width: 100%;
}
.post-title{
  margin-top: 20px;
}
h3{
  font-size: 30px;
}
.post-title-form{
  width: 70%;
  padding: 5px 0 ;
  margin-bottom: 10px;
}
.post-image-form{
  height: 40px;
}
.post-text-form{
  width: 70%;
  height: 150px;
}
.post-select-box{
  width: 70%;
  height: 40px;
  margin-bottom: 10px;
}
.post-white-btn{
  width: 70%;
  height: 40px;
}
.preview{
  height: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.img-preview{
  height: 100px;
  width: 100px;
}
.image-element{
  width: 100px;
  margin-right: 10px;
}
.image-element input{
  width: 100px;
}

